@model Ecommerce_.Models.conta

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da conta</h2>

<div>
   
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
           
            <label > Email</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            <label> Senha</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            <label> Nome </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            <label> CPF </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

    </dl>
</div>

