@model Ecommerce_.Models.conta
@{
    Layout = null;
}
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        
        <div class="fadeIn first">
            <img src="/img/login-icon.png" id="icon" />
        </div>
        <!-- Login Form -->
        <form action="@Url.Action("Logar","contas")" method="post">

            <input type="text" name="email" class="fadeIn second" placeholder="Email">
            <input type="password" name="senha" class="fadeIn third" placeholder="Senha">
            <input type="submit" value="Logar" class="fadeIn fourth">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueceu a senha ? </a>
        </div>
    </div>













